<main class="p-5">
	<div class="card">

		<p id="test">
			Hello World! Hello World! Hello World! Hello World! Hello World! Hello World!
		</p>
		<span hidden class="test">
			Test
		</span>
		<span>
			test
		</span>

	</div>
	<div style="padding: 50px 10px 50px 10px; background: gray; ">

		<span>
			Inline
		</span>
		<span>
			Inline
		</span>
		<span class="block">
			Inline-block
		</span>
	</div>
</main>