:root {
  --text-color: #212529;
  --space-medium: 24px;
}

.page {
  background: #ffffff;
  padding: 0 15px;
}
.page_content {
  max-width: 960px;
  margin: 0 auto;
}
.header {
  padding: var(--space-medium);
}

.logo {
  font-size: 17px;
}
.divider {
  margin: 0;
  height: 1px;
  background: #dee2e6;
}
.nav {
  display: block;
}

.nav_link {
  color: #343a40;
  font-size: 16px;
  text-decoration: none;
}
.nav_link:hover {
  text-decoration: underline;
  opacity: 50%;
}

.nav_vertical > .nav_link {
  display: block;
}

.nav_inline > .nav_link:not(:last-child) {
  margin-right: var(--space-medium);
}

.nav_vertical > .nav_link:not(:last-child) {
  margin-bottom: 12px;
}

.header_nav_right {
  margin-left: auto;
  width: fit-content;
}

.page_block:not(:last-of-type) {
  margin-bottom: 80px;
}
.footer {
  padding: var(--space-medium);
}
.footer_copyright {
  font-size: 14px;
  color: #6c757d;
  display: block;
  margin-top: 12px;
}

.footer_title {
  font-size: 20px;
  color: var(--text-color, #212529);
  display: block;
  margin-bottom: 12px;
}

.hero_title {
  font-size: 56px;
  color: var(--text-color, #212529);
  font-weight: 500;
  margin-bottom: 12px;
  text-align: center;
}

.hero_text {
  color: var(--text-color, #212529);
  margin: 0 auto;
}

.plans_card:not(:last-of-type) {
  margin-right: var(--space-medium);
}
.card-header {
  padding: 12px;
  text-align: center;
  font-size: var(--space-medium);
  color: var(--text-color, #212529);
}

.card-body {
  padding: var(--space-medium);
}

.card_price_amount {
  font-size: 40px;
  color: var(--text-color, #212529);
}

.card_price_duration {
  font-size: 29px;
  color: #6c757d;
}

.card_block {
  text-align: center;
}

.card_block:not(:last-of-type) {
  margin-bottom: var(--space-medium);
}

.card_description_item {
  font-size: 16px;
  color: var(--text-color, #212529);
  display: block;
}

.card_description_item:not(:last-of-type) {
  margin-bottom: 12px;
}

.card_button {
  display: block;
  width: 100%;
  font-size: 19px;
  padding: 9px;
}

h1 {
}

.plans_card:nth-child(2) {
  visibility: hidden;
}

.hero_text {
  background: gray;
  text-align: left;
  max-width: 350px;
  width: auto;

  word-spacing: 4px;
}

.hero_title {
  max-width: 660px;
  margin: 0 auto;
  margin-bottom: 12px;
  height: 65px;
  overflow: hidden;
}
.page {
  background: transparent;
}
body {
  background-image: url('/img/test2.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero_text {
  background-image: url('/img/test.png');
}
.card {
  border: 2px solid blue;
  border-radius: 15px;
  resize: both;
}
.card:hover {
  outline: 2px solid blue;
  outline-offset: 5px;
  box-shadow: 5px 5px 10px 1px rgba(116, 169, 255, 0.254);
  cursor: not-allowed;
  opacity: 0.5;
}
.card_block {
  list-style-type: upper-alpha;
  list-style-position: inside;
  list-style-image: linear-gradient(
    to-bottom right,
    blue red
  );
  padding: 0;
}
.card_description_item {
  display: list-item;
}
/* .table tr {
  border: 1px solid grey;
} */
.table tr td {
  border: 1px solid rgb(167, 131, 131);
  border-bottom-color: red;
  border-right-color: blue;
}
.table {
  background-color: #dee2e6;
  table-layout: fixed;
  width: 600px;
  caption-side: top;
  border-collapse: unset;
  border-spacing: 20px 10px;
  empty-cells: hide;
}
caption {
  background: gainsboro;
}
.nav_link::before,
.nav_link::after {
  /* content: url('/img/test.png'); */
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url('/img/test.png');
}
.nav_link::before {
  margin-right: 15px;
}
.nav_link::after {
  margin-left: 15px;
}
.footer {
  background-color: gainsboro;
  opacity: 90%;
}
.calc {
  width: 600px;
  margin-left: calc(50% - (600px / 2));
}
