<div class="articles_card" id="{{id}}">
	<img src="{{photo}}" alt="" class="card_image">
	{{#if isNew}}
	<span class="card_items">NEW</span>
	{{/if}}
	</img>
	<h1 class="card_title">{{name}}</h1>
	<p class="card_text">{{description}}</p>
	<button class="card_button">Read All</button>
</div>